@import "./color.css";
* {
    font-family: "JetBrainsMonoNL Nerd Font";
    font-weight: bold;
    font-size: 11px;
    min-height: 0;
    min-width:0;
    border-radius: 0px;
}

window#waybar {
  background: @black;
  color: @white;
}
#workspaces button label{
    color: @white;
    font-weight: bolder;
}
#workspaces button.visible label{
    color: @blue;
    font-weight: bolder;
}
#workspaces {
  margin-left:5px;
}
#pulseaudio{
  margin-right:12px;
}
#clock{
  margin-right:12px;
}
#network{
  margin-right:12px;
}
#battery{
  margin-right:12px;
}

/* #workspaces{ */
/*     background-color: transparent; */
/*     margin-top: 10px; */
/*     margin-right: 6px; */
/*     margin-left: 6px; */
/* } */
/* #workspaces button{ */
/*     background-color: @crust ; */
/*     border-radius: 15px; */
/*     margin-right: 10px; */
/*     padding: 7px; */
/*     padding-right: 10px; */
/*     padding-left: 10px; */
/*     padding-top: 7px; */
/*     font-weight: bolder; */
/*     color: 	@scrust ; */
/* } */
/* #workspaces button.active{ */
/*     padding-top: 7px; */
/*     background: @text; */
/*     background-size: 400% 400%; */
/* } */
/**/
/**/
/* #pulseaudio{ */
/* font-size:15px; */
/* } */
/* #pulseaudio { */
/*   background-color: transparent; */
/*   color: @red; */
/*   background: @mantle; */
/*   animation: gradient_f 20s ease-in-out infinite; */
/*   transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682); */
/*   border-top-right-radius: 0; */
/*   border-bottom-right-radius: 0; */
/*   margin-top: 10px; */
/*   padding-right: 15px; */
/*   padding-left:20px; */
/* } */
/* #clock { */
/* font-size: 15px; */
/* } */
/* #clock label{ */
/*     color: @lavender; */
/*     font-weight:  bolder; */
/* } */
/* #clock { */
/*   background-color: transparent; */
/*   color: @lavender; */
/*   background: @mantle; */
/*   animation: gradient_f 20s ease-in-out infinite; */
/*   transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682); */
/*   border-top-left-radius: 0; */
/*   border-bottom-left-radius: 0; */
/*   border-top-right-radius: 0; */
/*   border-bottom-right-radius: 0; */
/*   margin-top: 10px; */
/*   padding-right: 15px; */
/* } */
/**/
/* #network{ */
/* font-size:15px; */
/* } */
/**/
/* #network { */
/*   background-color: transparent; */
/*   color: @sapphire; */
/*   background: @mantle; */
/*   animation: gradient_f 20s ease-in-out infinite; */
/*   transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682); */
/*   border-top-left-radius: 0; */
/*   border-bottom-left-radius: 0; */
/*   margin-top: 10px; */
/*   padding-right: 20px; */
/*   margin-right:10px; */
/*   } */
/**/
/* #battery { */
/*   background-color: transparent; */
/*   color: @yellow; */
/*   font-size: 15px; */
/*   background: @mantle; */
/*   animation: gradient_f 20s ease-in-out infinite; */
/*   transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682); */
/*   border-top-left-radius: 0; */
/*   border-bottom-left-radius: 0; */
/*   border-top-right-radius: 0; */
/*   border-bottom-right-radius: 0; */
/*   margin-top: 10px; */
/*   padding-right: 15px; */
/* } */
